.cubes
  text-align: center

.cube1, .cube2
  +inline-block
  // width: 40%
  text-align: center

.cube
  position: relative
  margin: 2em 4em
  height: 150px
  width: 150px
  // font-size: 4em
  -webkit-transition: -webkit-transform 50ms linear
  +transform-style(preserve-3d)
  +backface-visibility(visible)
  // -webkit-transform: rotateX(-10deg) rotateY(20deg)

// .three-d
//   -webkit-transition: -webkit-transform 50ms linear
//   +transform-style(preserve-3d)
//   -webkit-transform: rotateX(-10deg) rotateY(20deg)

.cube > figure
  position: absolute
  height: 150px
  width: 150px
  box-sizing: border-box
  padding: 20px
  background-color: rgba(226, 114, 44, 0.7)
  font-size: 5em
  color: white
  border: 1px solid darken(#e2722c, 15%)
  border-radius: 3px
  &:nth-child(1)
    -webkit-transform: translateZ(74px)
  &:nth-child(2)
    -webkit-transform: rotateY(90deg) translateZ(74px)
    text-align: center
  &:nth-child(3)
    -webkit-transform: rotateY(180deg) translateZ(74px)
  &:nth-child(4)
    -webkit-transform: rotateY(-90deg) translateZ(74px)
  &:nth-child(5)
    -webkit-transform: rotateX(90deg) translateZ(74px)
  &:nth-child(6)
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(74px)
