@import url(pygment_trac.css);
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_default.sass */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #373737;
  background: #212121;
  font-size: 16px;
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/_default.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #222222;
  font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

/* line 17, ../sass/_default.sass */
h1 {
  font-size: 36px;
  font-weight: 700;
}

/* line 21, ../sass/_default.sass */
h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url("../../images/bg_hr.png") repeat-x bottom;
}

/* line 26, ../sass/_default.sass */
h3 {
  font-size: 24px;
}

/* line 29, ../sass/_default.sass */
h4 {
  font-size: 21px;
}

/* line 32, ../sass/_default.sass */
h5 {
  font-size: 18px;
}

/* line 35, ../sass/_default.sass */
h6 {
  font-size: 16px;
}

/* line 38, ../sass/_default.sass */
p {
  margin: 10px 0 15px 0;
}

/* line 41, ../sass/_default.sass */
footer p {
  color: #f2f2f2;
}

/* line 44, ../sass/_default.sass */
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

/* line 51, ../sass/_default.sass */
#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 55, ../sass/_default.sass */
footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 59, ../sass/_default.sass */
em {
  font-style: italic;
}

/* line 62, ../sass/_default.sass */
strong {
  font-weight: bold;
}

/* line 65, ../sass/_default.sass */
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

/* line 78, ../sass/_default.sass */
pre, code {
  width: 100%;
  color: #222222;
  background-color: white;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 88, ../sass/_default.sass */
pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

/* line 94, ../sass/_default.sass */
code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 99, ../sass/_default.sass */
pre code {
  display: block;
  box-shadow: none;
}

/* line 103, ../sass/_default.sass */
blockquote {
  color: #666666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbbbbb;
}

/* line 109, ../sass/_default.sass */
ul, ol, dl {
  margin-bottom: 15px;
  padding-left: 20px;
}

/* line 113, ../sass/_default.sass */
ul li {
  list-style: inside;
  padding-left: 20px;
}

/* line 117, ../sass/_default.sass */
ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

/* line 122, ../sass/_default.sass */
dl dt {
  font-weight: bold;
}
/* line 124, ../sass/_default.sass */
dl dd, dl p {
  padding-left: 20px;
  font-style: italic;
}

/* line 128, ../sass/_default.sass */
hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url("../../images/bg_hr.png") repeat-x center;
}

/* line 134, ../sass/_default.sass */
table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

/* line 139, ../sass/_default.sass */
th {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: white;
}

/* line 145, ../sass/_default.sass */
td {
  padding: 10px;
  border: 1px solid #373737;
}

/* line 149, ../sass/_default.sass */
form {
  background: #f2f2f2;
  padding: 20px;
}

/* line 153, ../sass/_default.sass */
img {
  width: 100%;
  max-width: 100%;
}

/* line 162, ../sass/_default.sass */
#main_content .button, #main_content .large-button {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392));
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
  margin: 10px 5px;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:hover, #main_content .large-button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:hover, #main_content .large-button:hover {
  background-color: #07607a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a));
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:active, #main_content .large-button:active {
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  -moz-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button.disabled, #main_content .button[disabled], #main_content .large-button.disabled, #main_content .large-button[disabled] {
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#main_content .button::-moz-focus-inner, #main_content .large-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 165, ../sass/_default.sass */
#main_content .button:hover, #main_content .large-button:hover {
  color: white;
}

/* line 172, ../sass/_default.sass */
.outer {
  width: 100%;
}

/* line 175, ../sass/_default.sass */
.inner {
  position: relative;
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
}

/* line 181, ../sass/_default.sass */
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: white;
  background: url("../../images/blacktocat.png") #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 195, ../sass/_default.sass */
#header_wrap {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2722c), color-stop(50%, #e0a33b), color-stop(100%, #e2722c));
  background-image: -webkit-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: -moz-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: -o-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
}
/* line 197, ../sass/_default.sass */
#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

/* line 200, ../sass/_default.sass */
#project_title {
  margin: 0;
  color: white;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111111 0px 0px 10px;
}

/* line 207, ../sass/_default.sass */
#project_tagline {
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111111 0px 0px 10px;
}

/* line 214, ../sass/_default.sass */
#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  top: 120px;
  right: 0;
  height: 70px;
  background: url("../../images/icon_download.png") no-repeat 0% 90%;
}

/* line 223, ../sass/_default.sass */
.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../../images/sprite_download.png) no-repeat bottom left;
}

/* line 232, ../sass/_default.sass */
.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

/* line 242, ../sass/_default.sass */
.zip_download_link:hover {
  background: url(../../images/sprite_download.png) no-repeat top left;
}

/* line 245, ../sass/_default.sass */
.tar_download_link:hover {
  background: url(../../images/sprite_download.png) no-repeat top right;
}

/* line 248, ../sass/_default.sass */
#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
}

/* line 253, ../sass/_default.sass */
#main_content {
  padding-top: 40px;
}

/* line 256, ../sass/_default.sass */
#footer_wrap {
  background: #212121;
}

@media screen and (max-width: 480px) {
  /* line 264, ../sass/_default.sass */
  body {
    font-size: 14px;
  }

  /* line 266, ../sass/_default.sass */
  #downloads {
    display: none;
  }

  /* line 268, ../sass/_default.sass */
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  /* line 271, ../sass/_default.sass */
  #project_title {
    font-size: 32px;
  }

  /* line 273, ../sass/_default.sass */
  h1 {
    font-size: 28px;
  }

  /* line 275, ../sass/_default.sass */
  h2 {
    font-size: 24px;
  }

  /* line 277, ../sass/_default.sass */
  h3 {
    font-size: 21px;
  }

  /* line 279, ../sass/_default.sass */
  h4 {
    font-size: 18px;
  }

  /* line 281, ../sass/_default.sass */
  h5 {
    font-size: 14px;
  }

  /* line 283, ../sass/_default.sass */
  h6 {
    font-size: 12px;
  }

  /* line 285, ../sass/_default.sass */
  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}
/* line 1, ../sass/_cube.sass */
.cubes {
  text-align: center;
}

/* line 4, ../sass/_cube.sass */
.cube1, .cube2 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
}

/* line 9, ../sass/_cube.sass */
.cube {
  position: relative;
  margin: 2em 4em;
  height: 150px;
  width: 150px;
  -webkit-transition: -webkit-transform 50ms linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}

/* line 25, ../sass/_cube.sass */
.cube > figure {
  position: absolute;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(226, 114, 44, 0.7);
  font-size: 5em;
  color: white;
  border: 1px solid #aa5017;
  border-radius: 3px;
}
/* line 36, ../sass/_cube.sass */
.cube > figure:nth-child(1) {
  -webkit-transform: translateZ(74px);
}
/* line 38, ../sass/_cube.sass */
.cube > figure:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(74px);
  text-align: center;
}
/* line 41, ../sass/_cube.sass */
.cube > figure:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(74px);
}
/* line 43, ../sass/_cube.sass */
.cube > figure:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(74px);
}
/* line 45, ../sass/_cube.sass */
.cube > figure:nth-child(5) {
  -webkit-transform: rotateX(90deg) translateZ(74px);
}
/* line 47, ../sass/_cube.sass */
.cube > figure:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(74px);
}

/* line 1, ../sass/_animations.sass */
.cubes {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 50%;
  -webkit-perspective: 20000px;
}

/* line 6, ../sass/_animations.sass */
.transition {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 12, ../sass/_animations.sass */
.scale {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}

/* line 15, ../sass/_animations.sass */
.zoom-out {
  -webkit-transform: translate3d(0, 0, -20000px);
  -moz-transform: translate3d(0, 0, -20000px);
  -ms-transform: translate3d(0, 0, -20000px);
  -o-transform: translate3d(0, 0, -20000px);
  transform: translate3d(0, 0, -20000px);
}

/* line 18, ../sass/_animations.sass */
.rotate-x {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation: rotate-x 3s 0s ease both;
  -moz-animation: rotate-x 3s 0s ease both;
  -ms-animation: rotate-x 3s 0s ease both;
  -o-animation: rotate-x 3s 0s ease both;
  animation: rotate-x 3s 0s ease both;
}

@-webkit-keyframes rotate-x {
  /* line 26, ../sass/_animations.sass */
  0% {
    -webkit-transform: rotateY(0);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 29, ../sass/_animations.sass */
  100% {
    -webkit-transform: rotateY(-360deg);
    -webkit-animation-timing-function: ease-in;
  }
}
