@import url(pygment_trac.css);
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_cube.sass */
.cubes {
  text-align: center;
}

/* line 4, ../sass/_cube.sass */
.cube {
  position: relative;
  margin: 2em 4em;
  height: 200px;
  width: 200px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: -webkit-transform 50ms linear;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
}

/* line 14, ../sass/_cube.sass */
.cube > div {
  position: absolute;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(226, 114, 44, 0.7);
  font-size: 1em;
  line-height: 1em;
  color: white;
  border: 1px solid #aa5017;
  border-radius: 3px;
}
/* line 26, ../sass/_cube.sass */
.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(74px);
}
/* line 28, ../sass/_cube.sass */
.cube > div:nth-child(2) {
  -webkit-transform: translateZ(74px);
}
/* line 30, ../sass/_cube.sass */
.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(74px);
  text-align: center;
}
/* line 33, ../sass/_cube.sass */
.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(74px);
}
/* line 35, ../sass/_cube.sass */
.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(74px);
}
/* line 37, ../sass/_cube.sass */
.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(74px);
}

/* line 20, ../sass/application.sass */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #373737;
  background: #212121;
  font-size: 16px;
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* line 29, ../sass/application.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #222222;
  font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

/* line 36, ../sass/application.sass */
h1 {
  font-size: 36px;
  font-weight: 700;
}

/* line 40, ../sass/application.sass */
h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url("../../images/bg_hr.png") repeat-x bottom;
}

/* line 45, ../sass/application.sass */
h3 {
  font-size: 24px;
}

/* line 48, ../sass/application.sass */
h4 {
  font-size: 21px;
}

/* line 51, ../sass/application.sass */
h5 {
  font-size: 18px;
}

/* line 54, ../sass/application.sass */
h6 {
  font-size: 16px;
}

/* line 57, ../sass/application.sass */
p {
  margin: 10px 0 15px 0;
}

/* line 60, ../sass/application.sass */
footer p {
  color: #f2f2f2;
}

/* line 63, ../sass/application.sass */
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

/* line 70, ../sass/application.sass */
#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 74, ../sass/application.sass */
footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 78, ../sass/application.sass */
em {
  font-style: italic;
}

/* line 81, ../sass/application.sass */
strong {
  font-weight: bold;
}

/* line 84, ../sass/application.sass */
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

/* line 97, ../sass/application.sass */
pre, code {
  width: 100%;
  color: #222222;
  background-color: white;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 107, ../sass/application.sass */
pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

/* line 113, ../sass/application.sass */
code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 118, ../sass/application.sass */
pre code {
  display: block;
  box-shadow: none;
}

/* line 122, ../sass/application.sass */
blockquote {
  color: #666666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbbbbb;
}

/* line 128, ../sass/application.sass */
ul, ol, dl {
  margin-bottom: 15px;
  padding-left: 20px;
}

/* line 132, ../sass/application.sass */
ul li {
  list-style: inside;
  padding-left: 20px;
}

/* line 136, ../sass/application.sass */
ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

/* line 141, ../sass/application.sass */
dl dt {
  font-weight: bold;
}
/* line 143, ../sass/application.sass */
dl dd, dl p {
  padding-left: 20px;
  font-style: italic;
}

/* line 147, ../sass/application.sass */
hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url("../../images/bg_hr.png") repeat-x center;
}

/* line 153, ../sass/application.sass */
table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

/* line 158, ../sass/application.sass */
th {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: white;
}

/* line 164, ../sass/application.sass */
td {
  padding: 10px;
  border: 1px solid #373737;
}

/* line 168, ../sass/application.sass */
form {
  background: #f2f2f2;
  padding: 20px;
}

/* line 172, ../sass/application.sass */
img {
  width: 100%;
  max-width: 100%;
}

/* line 180, ../sass/application.sass */
#main_content .button {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392));
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:hover {
  background-color: #07607a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a));
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button:active {
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  -moz-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#main_content .button.disabled, #main_content .button[disabled] {
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#main_content .button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 182, ../sass/application.sass */
#main_content .button:hover {
  color: white;
}

/* line 189, ../sass/application.sass */
.outer {
  width: 100%;
}

/* line 192, ../sass/application.sass */
.inner {
  position: relative;
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
}

/* line 198, ../sass/application.sass */
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: white;
  background: url("../../images/blacktocat.png") #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 212, ../sass/application.sass */
#header_wrap {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2722c), color-stop(50%, #e0a33b), color-stop(100%, #e2722c));
  background-image: -webkit-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: -moz-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: -o-linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
  background-image: linear-gradient(left, #e2722c 0%, #e0a33b 50%, #e2722c 100%);
}
/* line 214, ../sass/application.sass */
#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

/* line 217, ../sass/application.sass */
#project_title {
  margin: 0;
  color: white;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111111 0px 0px 10px;
}

/* line 224, ../sass/application.sass */
#project_tagline {
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111111 0px 0px 10px;
}

/* line 231, ../sass/application.sass */
#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  top: 120px;
  right: 0;
  height: 70px;
  background: url("../../images/icon_download.png") no-repeat 0% 90%;
}

/* line 240, ../sass/application.sass */
.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../../images/sprite_download.png) no-repeat bottom left;
}

/* line 249, ../sass/application.sass */
.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

/* line 259, ../sass/application.sass */
.zip_download_link:hover {
  background: url(../../images/sprite_download.png) no-repeat top left;
}

/* line 262, ../sass/application.sass */
.tar_download_link:hover {
  background: url(../../images/sprite_download.png) no-repeat top right;
}

/* line 265, ../sass/application.sass */
#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
}

/* line 270, ../sass/application.sass */
#main_content {
  padding-top: 40px;
}

/* line 273, ../sass/application.sass */
#footer_wrap {
  background: #212121;
}

@media screen and (max-width: 480px) {
  /* line 281, ../sass/application.sass */
  body {
    font-size: 14px;
  }

  /* line 283, ../sass/application.sass */
  #downloads {
    display: none;
  }

  /* line 285, ../sass/application.sass */
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  /* line 288, ../sass/application.sass */
  #project_title {
    font-size: 32px;
  }

  /* line 290, ../sass/application.sass */
  h1 {
    font-size: 28px;
  }

  /* line 292, ../sass/application.sass */
  h2 {
    font-size: 24px;
  }

  /* line 294, ../sass/application.sass */
  h3 {
    font-size: 21px;
  }

  /* line 296, ../sass/application.sass */
  h4 {
    font-size: 18px;
  }

  /* line 298, ../sass/application.sass */
  h5 {
    font-size: 14px;
  }

  /* line 300, ../sass/application.sass */
  h6 {
    font-size: 12px;
  }

  /* line 302, ../sass/application.sass */
  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}
